<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Forgot Password</title>
</head>
<body>
<h1>Blog</h1>
<hr width="20%" align="left"/>

<table sec:authorize="isAnonymous()">
    <td>
        <form th:action="@{/login}" method="get">
            <input type="submit" value="Login"/>
        </form>
    </td>
    <td>
        <form th:action="@{/registration}" method="get">
            <input type="submit" value="Register"/>
        </form>
    </td>
</table>
<br/>
<h4>Enter email associated with your account and we'll send a verification code</h4>
<form th:action="@{/auth/forgot_password}" method="post">
    <div><label> Email: <input type="email" name="email" required/> </label></div>
    <div><input type="submit" value="Send Code"/></div>
</form>

</body>
</html>