<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Reset Passowrd</title>
</head>
<body>
<h1>Blog</h1>
<hr width="20%" align="left"/>

<table sec:authorize="isAnonymous()">
    <td>
        <form th:action="@{/login}" method="get">
            <input type="submit" value="Login"/>
        </form>
    </td>
    <td>
        <form th:action="@{/registration}" method="get">
            <input type="submit" value="Register"/>
        </form>
    </td>
</table>
<br/>
Enter verification code you received and a new password:
<form th:action="@{/auth/reset}" method="post">
    <div><label> Code: <input type="text" name="code" required/> </label></div>
    <div><label> New password: <input type="password" name="password" required/> </label></div>
    <div><input type="submit" value="Reset"/></div>
</form>
</body>
</html>